.content-area{
    width: 100%;
    height: 1500px;
    position: relative;
    background: radial-gradient(ellipse at bottom, #0C0F15 0%, #0C0F15 100%);
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.about-me-container{
    position: absolute;
    border: 2px white;
    border-style: solid solid solid none;
    width: 85%;
    height: 800px;
    margin: 100px 0 0 150px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.profile-img-container{
    /*border: 2px solid red;*/
    flex-grow: 1;
}
.my-content{
    flex-grow: 2;
    border: 2px solid blue;
}
.profile-img-shadow{
    position: absolute;
    background: #01EFFF;
    margin: 50px 0 0 -70px;
    width: 400px;
    height: 550px;
    clip-path: polygon(0 0,70% 0,50% 100%,0 100%);
    border-radius: 20px 0 0 20px/20px 0 0 20px;
}
.profile-img{
    position: absolute;
    background: radial-gradient(ellipse at bottom, #1a202d 0%, #121a26 100%);;
    margin: 85px 0 0 -30px;
    width: 400px;
    height: 550px;
    border-radius: 20px 20px 0 20px/20px 20px 0 20px;
}
.vihanga-img{
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 50px 0 0 -200px;
    mask-image:url("../Vihanga/mask-image.png");
    -webkit-mask-image:url("../Vihanga/mask-image.png");
    mask-position: bottom;
    -webkit-mask-position: bottom;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size:450px ;
    -webkit-mask-size: 450px;
}















.content-area h2{
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    color: white;
}
.content-area p{
    padding: 2% 0;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    color: white;
}