* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.contact-bg{
    background-color: #000000;
    width: 100%;
    height: 100vh;
}
.contact-bg-container{
    position: relative;
    border: 0.2rem #01EFFF;
    border-style: solid solid none none;
    border-radius: 0 2rem 0 0;
    width: 97%;
    height: 60rem;
    left: 2rem;
    top: 6.5rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-bg-container>div:first-child{
    /*border: 1px solid white;*/
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
}
.contact-bg-container>div:last-child{
    /*border: 1px solid blue;*/
    flex-grow: 2;
}
.contact-bg-container>div:first-child>h1{
    /*border: 2px solid red;*/
    font-size: 4.8rem;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}
.contact-flex-container{
    display: flex;
    justify-content: space-between;
}
.contact-flex-container>div:first-child{
    flex-grow: 3;
    border: 2px solid red;
}
.contact-flex-container>div:last-child{
    flex-grow: 1;
    border: 2px solid red;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-container>div:first-child{
    /*border: 2px solid yellow;*/
    flex-grow: 1;
}
.contact-container>div:nth-child(2){
    /*border: 2px solid yellow;*/
    flex-grow:1;
}
.contact-container>div:nth-child(3){
    /*border: 2px solid yellow;*/
    flex-grow: 1;
}
.contact-container>div:last-child{
    /*border: 2px solid yellow;*/
    flex-grow: 1;
}
.contact-container>div:first-child>h2{
    position: relative;
    top: 1rem;
    left: 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #01EFFF;
    letter-spacing: 0.3px;
}

.contact-container>div:nth-child(2)>input{
    position: relative;
    left: 4rem;
    width: 60rem;
    height: 6rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    outline: #01EFFF;
}
.contact-container>div:nth-child(2)>input:focus{
    border: 0.3rem solid #01EFFF;
}
.contact-container>div:nth-child(2)>input::placeholder{
    position: relative;
    left: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
}
.contact-container>div:nth-child(3)>input{
    position: relative;
    left: 4rem;
    width: 60rem;
    height: 6rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    outline: none;
}
.contact-container>div:nth-child(3)>input:focus{
    border: 0.3rem solid #01EFFF;
}
.contact-container>div:nth-child(3)>input::placeholder{
    position: relative;
    left: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
}
.contact-container>div:nth-child(4)>textarea{
    position: relative;
    left: 4rem;
    padding-top: 1.5rem;
    width: 60rem;
    height: 15rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    resize: none;
    overflow: hidden;
    outline: none;
}
.contact-container>div:nth-child(4)>textarea:focus{
    border: 0.3rem solid #01EFFF;
}
.contact-container>div:nth-child(4)>textarea::placeholder{
    position: relative;
    left: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
}


/* Start Button */

.contact-button{
    position: relative;
    left: 7.5rem;
    bottom: 2.5rem;
    width: 8rem;
    height: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    color: #01EFFF;
    border: none;
}
.contact-button:focus{
    outline: none;
}
.contact-button>i:hover{
    color: #FFFFFF;
}
/* End Button */
.contact-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-links>div:first-child{
    border: 1px solid yellow;
    flex-grow: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links>div:nth-child(2){
    /*border: 1px solid yellow;*/
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links>div:nth-child(3){
    /*border: 1px solid yellow;*/
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-links>div:last-child{
    /*border: 1px solid yellow;*/
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-links>div:first-child>h2{
    position: relative;
    top: 2rem;

    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}
.contact-links-items{
    position: relative;
    width: 30rem;
    height: 10rem;
    /*border: 1px solid white;*/

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-links-items>a>div:first-child{
    /*border: 1px solid red*/;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links-items>a>div:nth-child(2){
    /*border: 1px solid red;*/
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links-items>a>div:last-child{
    /*border: 1px solid red;*/
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links-items>a>div:first-child>i{
    font-size: 30px;
}
.contact-links-items>a>div:nth-child(2){
    position: relative;
    top: 1.5rem;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.contact-links-items>a>div:last-child{
    position: relative;
    top: 1.5rem;
    color: #c6d8d8;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.contact-links-items>a{
    text-decoration: none;
}
.home{
    cursor: auto;
}


@media all and (min-width: 426px) and (max-width: 768px){
    .contact-bg{
        height: 95rem;
    }
    .contact-container{
        position: relative;
        top: 30rem;
        left: -2rem;
        width: 71rem;
    }
    .contact-container>div:first-child{
        position: relative;
        width: 71rem;
    }
    .contact-button{
        position: relative;
        left: 4rem;
    }


    .contact-links{
        position: relative;
        right: 71rem;
        width: 71rem;
    }
    .contact-links>div:first-child{
        position: relative;
        width: 71rem;
    }
    .contact-links>div:nth-child(2){
        position: relative;
        right: 26rem;
    }
    .contact-links>div:nth-child(3){
        position: relative;
        bottom: 13rem;
        left: 1rem;
    }
    .contact-links>div:last-child{
        position: relative;
        bottom: 26rem;
        left: 26rem;
    }
}
@media all and (max-width: 425px){
.contact-flex-container>div:first-child{
    display: none;
}
.contact-flex-container>div:last-child{
    display: none;
}
}