* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.project-bg{
    background-color: #000000;
    width: 100%;
    height: 100vh;
}
.bg-project-container{
    position: relative;
    border: 0.2rem #01EFFF;
    border-style: solid solid none none;
    border-radius: 0 2rem 0 0;
    width: 97%;
    height: 60rem;
    left: 2rem;
    top: 6.5rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bg-project-container>div:first-child{
    /*border: 1px solid white;*/
    flex-grow: 0.1;
    display: flex;
    justify-content: flex-end;
}
.bg-project-container>div:last-child{
    /*border: 1px solid blue;*/
    flex-grow: 2;
}
.bg-project-container>div:first-child>h1{
    /*border: 2px solid red;*/
    font-size: 4.8rem;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}
.project-flex-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.project-flex-container>div:first-child{  /*projects line 01*/
    /*border: 1px solid red;*/
    flex-grow: 2;
}
.project-flex-container>div:nth-child(2){ /*projects line 02*/
    /*border: 1px solid red;*/
    flex-grow: 2;
}

.project-flex-container>div:last-child{ /*more projects*/
    /*border: 1px solid yellow;*/
    flex-grow: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-flex-items-01{
    display: flex;
    justify-content: space-between;
}
.project-flex-items-01>div:first-child{ /*project 1st line divs 1-4*/
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-01>div:nth-child(2){
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-01>div:nth-child(3){
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-01>div:last-child{
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-flex-items-02{
    display: flex;
    justify-content: space-between;
}
.project-flex-items-02>div:first-child{
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-02>div:nth-child(2){
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-02>div:nth-child(3){
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-flex-items-02>div:last-child{
    /*border: 1px dotted yellow;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-bg-1{
    position: relative;
    width: 23rem;
    height: 20rem;
    /*border: 2px solid white;*/
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    background: radial-gradient(ellipse at bottom, #2a2929 0%, #232424 100%);
}

.item-bg-2{
    position: relative;
    width: 23rem;
    height: 20rem;
    /*border: 2px solid white;*/
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    background: radial-gradient(ellipse at bottom, #2a2929 0%, #232424 100%);
}


.item-bg-1:hover {
    transition: all 0.3s ease;
    border: 0.2rem solid #01EFFF;
}.item-bg-2:hover {
    transition: all 0.3s ease;
    border: 0.2rem solid #01EFFF;
}

.item-bg2-more-btn{
    position: relative;
    left: 9rem;
    width: 30rem;
    height: 6rem;
    /*border: 2px solid white;*/
    color: #FFFFFF;
}

.items-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.items-flex>div:first-child{
    /*border: 1px solid red;*/
    flex-grow: 4;
    position: relative;
}
.items-flex>div:last-child{
    /*border: 1px solid red;*/
    flex-grow: 0.5;
}
.project-div-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.items-flex>div:last-child>h2{
    text-align: center;
}
.items-flex>div:last-child>h3{
    text-align: center;
    color: darkgrey;
}
.project-btn-text{
    position: relative;
    font-size: 2rem;
    top: 2rem;
    color: #01EFFF;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}