@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
}

.navbar{
    position: fixed;
    background: black;
   width: 100%;
}
.navdiv{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{

}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 80px;
}
.logo:hover{
    color: #038bff;
    cursor: pointer;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
    transition: all 0.3s ease 0s;
}
li a:hover{
    color: lightblue;
}
button{
    background-color: white;
    border-radius: 10px;
}
.earthman{
    position: absolute;
    margin-top: -65px;
    margin-left: -160px;
}
/*--------------------------------------------------------------*/

#content{
    border: 2px solid red;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height:80%;
    width: 100%;
    margin-top: 50px;

}
#content>div:first-child{
    border: 2px solid blue;
    flex-grow: 2;

}
#content>div:last-child{
    border: 2px solid purple;

}
#content>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content>div:first-child>div:first-child{
    flex-grow: 2;
    border: 2px solid yellow;
}
#content>div:first-child>div:last-child{
    flex-grow: 1;
    border: 2px solid greenyellow;
}
.vihangaimg{
    width: 350px;
    margin-bottom: 100px;
}